/* ------------------------- HEADER AND FOOTER ------------------------- */

header, footer {
  background-color: #412B35;
}


/* ------------------------- FORM ELEMENTS ------------------------- */

input.button, .button  {
  font-size: 2.5vw;
  text-align: center;
  background-color: #CCB9BA;
  border: none;
  font-family: 'Montserrat Alternates', sans-serif;
  padding: .7vw;
  border-radius: .3vw;
  margin: 0vw .7vw 0vw .7vw;
  transition: color 1s, background-color 1s;
}

input {
  font-size: 2.5vw;
  border: solid 1px #412B35;
  padding: .7vw;
  border-radius: .3vw;
  font-family: 'Montserrat Alternates', sans-serif;
}

input::placeholder {
  color: #CCB9BA;
  transition: color 1s;
  font-family: 'Raleway', sans-serif;
}

input:hover::-webkit-input-placeholder
{
  color: #FFFFFF;
}

.button:hover {
  background-color: #412B35;
  color: #FFFFFF;
  cursor: default;
}
