/*
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid rgb(200,200,200); */
}

section,
 div{
  padding: 1%;
  border: 1px solid rgb(200,200,200);
}
