<!DOCTYPE html>

<html>
  <head>

    <title> {{page.title}} </title>

    <link rel="icon" href="{{page.favicon}}">

    <!-- tells browser that this website will be responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- - - - - - - - These are my css files - - - - - - - -->
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Raleway:500i" rel="stylesheet">
    <!-- gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
    <!-- my css file.  It is important that my css is last as when there is the same level of specificity, the last css is applied -->
    <link href="main.css" type="text/css" rel="stylesheet" />

  </head>


  <body style="background-image: url({{page.background-pic}});">

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    {% include jquery.html %}

    {% include icon.html %}

  </body>
</html>
