<!DOCTYPE html>

<html>
  <head>

    <!-- this is the head of my HTML where we include all the links to the css files, google fonts, SEO and meta data-->

    <!-- a ttle is what shws on the browser tab when someone is on your website-->

    <title> ethicarean </title>


    <!--  - - - - - - - These are my meta tags - - - - - - -  -->
    <!-- tells browser that this website will be responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  - - - - - - - These is my favicon file - - - - - - -  -->
    <link rel="icon" href="assets/favicon.ico">

    <!-- - - - - - - - These are my css files - - - - - - - -->
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Raleway:500i" rel="stylesheet">
    <!-- gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
    <!-- my css file.  It is important that my css is last as when there is the same level of specificity, the last css is applied -->
    <link href="main.css" type="text/css"  rel="stylesheet" />

  </head>

  {{ content }}

  <footer class="hide">
        <nav class="textbottom padded-1">
          <a href="#"> what </a>
          <a href="#"> why </a>
          <a href="#"> where </a>
          <a href="#"> sign up </a>
        </nav>
  </footer>

</html>
